/* RESET BROWSER */

/* *{
  margin: 0;
  padding: 0;
  color: 0;
} */

nav{
  color: #B64926;
  background: #FFF0A5;
}

nav a{
  color: #B64926;
}

#content > header, body > header{
  background: #FFB03B;
}

section > p{
  color: hsl(149, 32%, 41%);
}

section header{
  color:  #8E2800;
}

footer a{
  color: #B64926;
}

section footer{
  background-color: #F5F5F5;
}

footer{
  background-color: #DDDDDD;
}