footer {
  text-align: center;
  font-style: italic;
}

body {
      background-color: lightgray;
      font-family: calibri;
}

a {
  color: #ff3300;
}

img {
  border: 3px solid black;
}

h1,h2,h3 {
  border: 1px dashed black;
  color: brown;
}
