
body{
      background-color: lightgray;
      font-family: calibri;
}
/* pode-se expecificar, como abaixo, afectar os links dentro de paragrafos */
p a{
  color: #ff3300;
}

img{
  border: 3px solid black;
}

h1,h2,h3{
  border: 1px dashed black;
  color: brown;
}
#copyright{
  text-align: center;
  font-style: italic;

}
